<footer>
    <p id="print-banner">Acesta este un proiect școlar!</p>
    <hr>
    <address>
        <p>Telefon Departament Suport și Contact: <a href="tel:+40700000000">0700 000 000</a></p>
        <p>Adresa: Strada Academiei 14, București</p>
        <p>E-mail: <a href="mailto:contact@dumauto.ro">contact@dumauto.ro</a></p>
    </address>
    <p><small>© <time datetime="2026-03-09">9 martie 2026</time> Copyright DUM AUTO.</small></p>
</footer>
<a href="#top" class="link-top" title="Spre începutul paginii">
    <div class="triunghi"></div>
</a>