<header>
    <hgroup>
        <h1>DUM AUTO</h1>
        <h2>Experiența achiziționării unui autoturism din confortul casei tale.</h2>
    </hgroup>
    <img src="/resurse/imagini/logo.png" alt="Logo DumAuto">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" id="hamburger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>
    <nav>
        <ul>
            <li>
                <a href="/">Acasă</a>
                <ul class="submenu">
                    <li><a href="/#zona1">Despre Conceptul Nostru</a></li>
                    <li><a href="/#zona8">Modele și Oferte</a></li>
                </ul>
            </li>
            <li><a href="/despre">Istoric și Descriere (Nou)</a></li>
            <li><a href="/catalog">Catalog și Configurator</a></li>
            <li><a href="/service">Garanție și Service</a></li>
        </ul>
    </nav>
</header>